/main.DefinitionSimpleListingExt
/main.ExampleSimpleListingExt
/main.ExerciseSimpleListingExt
/main.NotationSimpleListingExt
/main.TheoremSimpleListingExt
/main.LemmaPictBoxListingExt
/main.TeoremaSimpleImgListingExt
/main.pdf
/chapters/*/*/*-eps-converted-to.pdf
/chapters/*/*-eps-converted-to.pdf
/chapters/*-eps-converted-to.pdf
/structure/color-scheme/__pycache__
